/* Universal stylings */
body {
    background-image: url("../images/background_02.png"), url("../images/positive.png");
    background-repeat: no-repeat, repeat;
    background-position: top left, bottom right;
    background-size: auto;
}

img {
    margin-bottom: 10px;
}

.card-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Styling the nav elements and links */

#navBar {
    background-color: #00aea7;
    padding-top: 15px;
}

a.nav-item {
    color: #eeeeee;
    margin-right: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

.active {
    text-decoration: underline;
}

/* Styling for welcome Text */

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

#heyThere {
    background-color: #000000;
    padding: 10px;
    line-height: 1.5;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
}
#heavyText {
    font-size: 16px;
    background: #000000;
    padding: 10px;
    line-height: 2;
}

#userName {
    background-color: #000000;
    padding: 10px;
}

#userAge {
    font-family: 'Staatliches', cursive;
    background-color: #000000;
    padding: 10px;
    font-size: 40px;
}

#eighteenYear {
    font-family: 'Staatliches', cursive;
    background-color: #000000;
    padding: 10px;
}

.from-user-year {
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    letter-spacing: 1.5px;
}

/* Styling the cards that will contain the users results */
.card {
    height: 90%;
    margin-bottom: 20px;
}

.card-title {
    font-size: 120%;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}

.card-subtitle {
    font-size: 110%;
    font-family: 'Varela Round', sans-serif;
    color: #777777;
}
.tryAgain {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    color: #777777;
}

.text-muted {
    font-size: 100%;
}
/* Styling for the buttons */
#tunesBtn {
    background-color: #00aea7;
    font-family: 'Varela Round', sans-serif;
    color: #eeeeee;
    border-radius: 45px;
    padding: 20px;
    padding-left: 40px;
    padding-right:  40px;
    font-size: 24px;
}
#tunesBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #172c6d;
}
#tunesBtn2 {
    background-color: #00aea7;
    font-family: 'Varela Round', sans-serif;
    color: #eeeeee;
    border-radius: 45px;
    padding: 20px;
    padding-left: 40px;
    padding-right:  40px;
    font-size: 20px;
}
#tunesBtn2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #172c6d;
}

input {
    
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

input.get-music {
    border-radius: 45px;
    padding: 20px;
    background-color: #eeeeee;
    font-family: 'Varela Round', sans-serif;
    color: #00aea7;
    width: 15%;
}

button.add-decade, .subtract-decade {
    border-radius: 45px;
    padding: 10px;
}

input.user-new-year {
    height: 45px;
    font-family: 'Varela Round', sans-serif;
}

.container-fluid {
    margin-left: 75px;
    margin-right: 75px;
}
.micro-modal {
    font-family: 'Varela Round', sans-serif;

}
#modalBackground {
    background-color: #ffffff;
}

.more-options {
    font-size: 160%;
    font-weight: 650;
    text-align: center;
}

.user-or {
    font-family: 'Varela Round', 'sans-serif';
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
}
#newPic {
    width: 200px;
    height: auto;
    float: right;
    margin-top: 50px;
}
.jumbotron {
    float: left;
}
#warningText {
    color: #000000;
    font-family: 'Varela Round', 'sans-serif';
}

/* Modal Styling */

.modal-title {
    font-family: 'Staatliches', cursive;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}
.modal-body {
    font-family: 'Varela Round', 'sans-serif';
    color: #777777;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
}
#selfiePic {
    width: 20%;
}

.user-picture {
    float: right;
}

/* Media query to display age input field and submit button when the screen is small. */

@media (max-width: 1212px) {
.user-new-year {
    width: auto;
    margin-bottom: 15px;
}

.get-more-results {
    align-content: center;
    justify-content: center;
}
}
