/* Universal stylings */
body {
    background-image: url("../images/background_header.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

img {
    margin-bottom: 10px;
}

/* Styling the nav elements and links */

#navBar {
    background-color: #00aea7;
    padding-top: 15px;
}

a.nav-item {
    color: #eeeeee;
    margin-right: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

.active {
    text-decoration: underline;
}

/* Styling for welcome Text */

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    letter-spacing: 2px;
}
#heyThere {
    background-color: #000000;
    padding: 10px;
    line-height: 1.5;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
}
#heavyText {
    font-size: 16px;
    background: #000000;
    padding: 10px;
    line-height: 2;
}

#userName {
    background-color: #000000;
}

/* Styling the cards that will contain the users results */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 150%;
}

.card-subtitle {
    font-size: 140%;
}

.text-muted {
    font-size: 100%;
}
/* Styling for the buttons */
button.get-music {
    background-color: #00aea7;
    color: #eeeeee;
    border-radius: 45px;
    padding: 20px;
}

input.get-music {
    border-radius: 45px;
    padding: 20px;
    background-color: #eeeeee;
    color: #00aea7;
    width: 15%;
}

button.add-decade, .subtract-decade {
    border-radius: 45px;
    padding: 10px;
}

input.user-new-year {
    height: 45px;
}

.container-fluid {
    margin-left: 75px;
    margin-right: 75px;
}
.micro-modal {
    font-family: 'Varela Round', sans-serif;

}
#modalBackground {
    background-color: #ffffff;
}

.more-options {
    font-size: 160%;
    font-weight: 650;
    text-align: center;
}

.user-or {
    font-family: 'Varela Round', 'sans-serif';
    color: #ffffff;
    background-color: #000000;
}
.user-picture {
    width: 200px;
    height: auto;
    float: right;
    margin-top: 50px;
}
.jumbotron {
    float: left;
}


/* Media query to display age input field and submit button when the screen is small. */

@media (max-width: 1212px) {
    .user-new-year {
        width: auto;
        margin-bottom: 15px;
    }

    .get-more-results {
        align-content: center;
        justify-content: center;
  }